<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.tusk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_launcher"
        android:supportsRtl="true"
        android:theme="@style/noActionbar">
        <activity android:name=".detailed_view"
            android:screenOrientation="portrait"
            android:parentActivityName=".Dashboard"
            android:theme="@style/noActionbar"/>
        <activity
            android:name=".SearchTask"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/noActionbar" />
        <activity
            android:name=".Admin.admin_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/noActionbar" />
        <activity
            android:name=".Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/noActionbar" />
        <activity
            android:name=".Register_screen"
            android:screenOrientation="portrait"
            android:theme="@style/noActionbar" />
        <activity
            android:name=".Login_screen"
            android:screenOrientation="portrait"
            android:theme="@style/noActionbar" />
        <activity
            android:name=".splash_hold"
            android:screenOrientation="portrait"
            android:theme="@style/noActionbar" />
        <activity
            android:name=".Splash_screen"
            android:screenOrientation="portrait"
            android:theme="@style/noActionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>